#container {
	height: 600px;
	width: 600px;
	background-color: black;
}

.grid {
	height: 34.5px;
	width: 34.5px;
	margin: 1.5px;
	display: inline-block;
	float: left;
	background-color: white;
}

.highlight {
	background-color: blue;
}