html, body {height:100%;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}

#container {
	height: 600px;
	width: 600px;
	background-color: black;
	margin: auto;
}

.grid {
	height: 34.5px;
	width: 34.5px;
	margin: 1.5px;
	display: inline-block;
	float: left;
	background-color: white;
}

.highlight {
	background-color: blue;
}